:root {
    --page-bg-1: #6BCBFF;
    --page-bg-2: #9EF0FF;
    --light-text: white;
    --dark-text: #111;
    --link-1: rgb(160, 83, 255);
    --link-2: var(--dark-text);
    --side-margin: 5%;
    --content-width: min(45rem, 85vw);
    --border-radius: 1rem;
    --nav-height: 100px;
    --logo-orange: #F49811;
    --logo-yellow: #FEC503;
    --footer-img: url("images/ground1.png");
    --footer-color-1: #FFC31A;
    --footer-color-2: #E67E22;
    --footer-bg: #331A21;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--page-bg-1);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    color: var(--dark-text);
}

nav {
    z-index: 5;
    position: fixed;
    background-color: var(--page-bg-1);
    height: var(--nav-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: var(--link-1);
}

a:focus,
a:hover {
    color: var(--link-2);
}

.nav-logo {
    position: absolute;
    width: calc(var(--nav-height) * 2.5);
    margin-left: var(--side-margin);
}

.nav-logo > img {
    position: relative;
    width: 100%;
}

.nav-logo:focus > img,
.nav-logo:hover > img {
    filter: brightness(0);
}

main {
    margin-top: var(--nav-height);
    background: linear-gradient(var(--page-bg-1), var(--page-bg-2) 25rem);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.game {
    position: relative;
    margin-top: var(--nav-height);
    margin-bottom: 5rem;
    height: 30rem;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.game > #game-logo {
    position: relative;
    height: 20rem;
    width: 37rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game > #game-logo > img {
    pointer-events: none;
    position: absolute;
    height: 100%;
    transition: all 250ms;
}

.game > .wrapper {
    position: relative;
    height: 100%;
    width: min(30rem, 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.game > .wrapper > .play {
    position: relative;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game > .wrapper > .play > a {
    text-decoration: none;
    font-size: 2.2rem;
    text-wrap: nowrap;
    color: var(--light-text);

    padding: 0.2rem 0.6rem;
    border: var(--logo-yellow) solid 0.2rem;
    outline: black solid 0.2rem;
    background: linear-gradient(var(--logo-orange), var(--logo-yellow));
    border-radius: 0.4rem;
    z-index: 2;
}

.game > .wrapper > .play:hover > a,
.game > .wrapper > .play:focus-within > a {
    border: var(--logo-orange) solid 0.2rem;
    color: var(--dark-text);
}

.game > .wrapper > .play > img {
    position: absolute;
    pointer-events: none;
}

.game > .wrapper > #playstore > img {
    height: 12rem;
    top: -9rem;
    right: 5rem;
    rotate: 10deg;
}

.game > .wrapper > #itch > img {
    height: 15rem;
    top: 2rem;
    right: 3rem;
    rotate: -15deg;
}

.game > .gradient {
    position: absolute;
    background: linear-gradient(white, rgba(0, 0, 0, 0));
    top: 17.8rem;
    height: 40rem;
    width: 100%;
}

.game > .clouds {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.game > .clouds > div {
    position: absolute;
    width: calc(200% + 500px); /* Half the image's width */
    height: 100%;
    background: url("images/background_trees.png") repeat-x;
    background-size: 50rem;
    background-position: right;
    animation: slide 45s linear infinite;
}

@keyframes slide {
    0% { right: 0; }
    100% { right: calc(-100% - 500px); } /* Half the image's width */
}

.text {
    z-index: 3;
    margin: 5rem auto 0 auto;
    width: var(--content-width);
    color: var(--dark-text);
}

.text > h2 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.text > p {
    font-size: 1.5rem;
    line-height: 1.4em;
    margin-bottom: 1em;
    text-align: justify;
}

#trailer {
    background-color: black;
    align-self: center;
    justify-self: center;

    border-radius: 0.5rem;
    outline: 0.5rem solid var(--dark-text);
    margin: 3rem 0.5rem 0 0.5rem;

    width: var(--content-width);
    height: calc((var(--content-width) * 9) / 16);
}

footer {
    --link-1: var(--footer-color-1);
    --link-2: var(--footer-color-2);

    background-color: var(--footer-bg);
    color: var(--light-text);
    padding-bottom: 2rem;

    font-size: 1.2rem;
    line-height: 2rem;
}

footer h2 {
    margin-bottom: 0.4rem;
}

footer p {
    font-size: 1.3rem;
}

footer > .content {
    width: var(--content-width);
    margin: auto;
}

footer > .content > div {
    margin-bottom: 2.5rem;
}

footer #webinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ground {
    --grass-height: 3.4rem;
    background: var(--footer-img) repeat-x;
    background-size: var(--grass-height);
    background-position: center;
    width: 100%;
    height: var(--grass-height);
    margin-bottom: var(--grass-height);
}

@media (max-width: 80rem) {
    .game {
        gap: 0rem;
    }

    .game > #game-logo {
        height: 10rem;
        width: 20rem;
    }
}

@media (max-width: 50rem) /* This width should be the same as the one below */ {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    .game {
        flex-direction: column;
        gap: 0;
    }

    .game > #game-logo {
        height: 20rem;
    }

    .game > .wrapper > #playstore > img {
        display: none;
    }

    .game > .wrapper > #itch > img {
        height: 10rem;
        top: 2rem;
        right: 3rem;
        rotate: -20deg;
    }
}

@media (max-width: 50rem) /* This width should be the same as the one above */,
(pointer:none), (pointer:coarse) {
    :root {
        --footer-img: url("images/ground2.png");
        --footer-color-1: #70E75A;
        --footer-color-2: #408A33;
        --footer-bg: #260F1E;
    }

    .game > .wrapper > #playstore > a {
        font-size: min(8vw, 2.5rem);
        padding: 0.6rem 1.6rem;
        width: 100%;
    }

    .game > .wrapper > #itch > a {
        color: var(--dark-text);
        font-size: min(7vw, 2rem);
        border: var(--page-bg-2) solid 0.2rem;
        outline: black solid 0.2rem;
        background: linear-gradient(var(--page-bg-1), var(--page-bg-2));
    }

    footer #webinfo {
        align-items: center;
        text-align: center;
    }
}
